hoohacks/secret.py
hoohacks/secret_heroku.sh
__pycache__/
*.db
venv/
# *.json
*.zip
QR/
administration/nametags/
img.png
*.sqlite3
dump.rdb
*.dump
keys/*
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml