asgiref==3.2.3
attrs==19.3.0
autobahn==19.10.1
Automat==0.8.0
beautifulsoup4==4.8.1
bs4==0.0.1
certifi==2019.9.11
cffi==1.13.1
channels==2.3.1
chardet==3.0.4
constantly==15.1.0
cryptography==2.8
daphne==2.3.0
DateJS==0.5
Django==2.2.6
dropbox==9.4.0
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
JSPy==1.0.0
Pillow==6.2.1
pycparser==2.19
PyHamcrest==1.9.0
pytz==2019.3
qrcode==6.1
requests==2.22.0
six==1.12.0
soupsieve==1.9.4
sqlparse==0.3.0
Twisted==19.7.0
txaio==18.8.1
urllib3==1.25.6
zope.interface==4.6.0
