aiohttp==3.8.3
aiosignal==1.2.0
asgiref==3.5.2
async-timeout==4.0.2
attrs==22.1.0
autobahn==22.7.1
Automat==22.10.0
beautifulsoup4==4.11.1
bs4==0.0.1
certifi==2022.9.24
cffi==1.15.1
channels==4.0.0
channels-redis==4.0.0
chardet==5.0.0
charset-normalizer==2.1.1
colorama==0.4.6
constantly==15.1.0
cryptography==38.0.3
daphne==4.0.0
DateJS==0.5
Deprecated==1.2.13
dj-database-url==1.0.0
Django==4.1.3
django-heroku==0.3.1
dropbox==11.35.0
frozenlist==1.3.1
hyperlink==21.0.0
idna==3.4
incremental==22.10.0
JSPy==1.0.0
msgpack==1.0.4
multidict==6.0.2
oauthlib==3.2.2
packaging==21.3
Pillow==9.3.0
ply==3.11
psycopg2==2.9.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
PyHamcrest==2.0.4
pyOpenSSL==22.1.0
pyparsing==3.0.9
PySocks==1.7.1
python-http-client==3.3.7
pytz==2022.6
qrcode==7.3.1
redis==4.3.4
requests==2.28.1
requests-oauthlib==1.3.1
sendgrid==6.9.7
service-identity==21.1.0
six==1.16.0
slackclient==2.9.4
soupsieve==2.3.2.post1
sqlparse==0.4.3
starkbank-ecdsa==2.2.0
stone==3.3.1
tweepy==4.12.0
txaio==22.2.1
typing_extensions==4.4.0
tzdata==2022.6
urllib3==1.26.12
uvicorn==0.20.0
whitenoise==6.2.0
wrapt==1.14.1
yarl==1.8.1
zope.interface==5.5.1
gunicorn==20.1.0