aioredis==1.3.0
alembic==1.0.7
appnope==0.1.0
asgiref==3.2.2
asn1crypto==1.1.0
async-timeout==3.0.1
attrs==19.2.0
autobahn==19.10.1
Automat==0.7.0
backcall==0.1.0
beautifulsoup4==4.8.1
bleach==3.1.4
bootstrap4==0.1.0
bs4==0.0.1
certifi==2019.9.11
cffi==1.12.3
channels==2.3.0
channels-redis==2.4.0
chardet==3.0.4
click==6.7
constantly==15.1.0
cryptography==2.7
daphne==2.3.0
DateJS==0.4
decorator==4.4.0
defusedxml==0.6.0
Django==2.2.10
django-heroku
django-pipeline==1.6.14
djwebsockets==0.9.0
dropbox==9.4.0
entrypoints==0.3
Flask==1.0.2
Flask-Admin==1.5.3
Flask-BasicAuth==0.2.0
flask-heroku==0.1.9
Flask-Migrate==2.3.1
Flask-Script==2.0.6
Flask-SocketIO==4.2.1
Flask-SQLAlchemy==2.3.2
gunicorn==19.9.0
hiredis==1.0.0
hyperlink==19.0.0
idna==2.8
importlib-metadata==0.23
incremental==17.5.0
ipykernel==5.1.2
ipython==7.8.0
ipython-genutils==0.2.0
itsdangerous==0.24
jedi==0.15.1
Jinja2==2.10.1
json5==0.8.5
jsonschema==3.1.1
JSPy==1.0.0
jupyter-client==5.3.4
jupyter-core==4.6.0
jupyterlab==1.1.4
jupyterlab-server==1.0.6
Mako==1.0.7
MarkupSafe==1.1.1
mistune==0.8.4
more-itertools==7.2.0
msgpack==0.6.2
nbconvert==5.6.0
nbformat==4.4.0
notebook==6.0.1
pandocfilters==1.4.2
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==7.1.0
prometheus-client==0.7.1
prompt-toolkit==2.0.10
psycopg2==2.7.7
ptyprocess==0.6.0
pycparser==2.19
Pygments==2.4.2
PyHamcrest==1.9.0
pyrsistent==0.15.4
PySocks==1.7.1
python-dateutil==2.8.0
python-editor==1.0.4
python-engineio==3.9.3
python-socketio==4.3.1
pytz==2018.9
pyzmq==18.1.0
qr==0.6.0
qrcode==6.1
redis==3.2.0
requests==2.22.0
sentry-sdk==0.13.1
Send2Trash==1.5.0
six==1.12.0
slackclient==2.5.0
soupsieve==1.9.4
SQLAlchemy==1.3.0
sqlparse==0.3.0
terminado==0.8.2
testpath==0.4.2
tornado==6.0.3
traitlets==4.3.3
tweepy==3.8.0
Twisted==19.7.0
txaio==18.8.1
urllib3==1.25.6
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.3
WTForms==2.2.1
zipp==0.6.0
zope.interface==4.6.0
