# These are all example values - Make sure to change the secret key

SECRET_KEY = 'Yr@TsK#F1Et*eV!x' # Any string of characters
DATABASE_URL = 'postgresql://localhost/database_name' # URL to connect to your database
SQLALCHEMY_TRACK_MODIFICATIONS = True # Set to False if in production environment
APP_SETTINGS = 'Config.DevelopmentConfig' # Set to 'Config.ProductionConfig' if in production environment
ADMIN_USERNAME = 'USERNAME'
ADMIN_PASSWORD = 'PASSWORD'
