# These are all example values - Make sure to change the secret key

SECRET_KEY = "FH*#FLS@)(!JFfwe)erw" # Any string of characters -- do not share this with anyone
DATABASE_URL = 'postgresql://localhost/testDB'
SQLALCHEMY_TRACK_MODIFICATIONS = True
APP_SETTINGS =  'config.DevelopmentConfig'
ADMIN_PASSWORD = ''
GMAIL_USERNAME = ''
GMAIL_PASSWORD = ''
MENTOR_PASSWORD = ''
DROPBOX_ACCESS_TOKEN = ''
