{% extends "base.html" %}

{% block title %}Admin - {% endblock %}

{% block content %}
    <h2 class="main-title"> <center>Admin - {% block subtitle %}{% endblock %}</center> </h2>
    <hr style="width:50%">

    <br/>
    <br/>

    <ul class="nav nav-pills nav-fill" >
      <li class="nav-item">
        <a class="nav-link {% if adminHighlight == 'stats' %}active{% endif %}" href="/admin" style="border:2px solid black;border-radius-left:6px;">Stats</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if adminHighlight == 'users' %}active{% endif %}" href="/admin/users" style="border:2px solid black;">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if adminHighlight == 'settings' %}active{% endif %}" href="#" style="border:2px solid black;border-radius-right:6px;">Settings</a>
      </li>
    </ul>

    {% block addContent %}

    {% endblock %}


{% endblock %}
