{% extends "admin.html" %}
{% load static %}

{% block title %}Admin - Users{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
{% endblock %}

{% block js %}

{% endblock %}
{% block subtitle %}Users{% endblock %}
{% block addContent %}
    <br/>
    <button type="button" class="btn btn-primary" id="exportData">Export Applications to CSV</button>
    <br/>
    <br/>

    <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th class="th-sm"><center>Accepted</center></th>
      <th class="th-sm"><center>Name</center></th>
      <th class="th-sm"><center>Email</center></th>
      <th class="th-sm"><center>School</center></th>
      <th class="th-sm"><center>Grad Year</center></th>
      <th class="th-sm"><center>Travel Method</center></th>
      <th class="th-sm"><center>Travel Cost</center></th>
    </tr>
  </thead>
  <tbody>
        {% for u in all_hackers %}
            {% with a=u.application %}


            <tr
            {% with c=u.confirmation %}
            {% if u.confirmation %}
                {% if c.confirmed %}
                    class="bg-accepted"
                {% elif c.declined %}
                    class="bg-declined"
                {% endif %}
            {% endif %}

            data-toggle="modal" data-id="{{ u.id }}" data-full-name="{{ a.full_name }}" data-email="{{ u.email }}"
            data-school="{{ a.school }}" data-grad-year="{{ a.grad_year }}" data-gender="{{ a.gender }}"
            data-race="{{ a.race }}" data-describe="{{ a.describe }}" data-why="{{ a.why }}" data-major="{{ a.major }}"
            data-hackathons="{{ a.hackathons }}" data-birthday="{{ a.birthday }}" data-travel="{{ a.travel }}"
            data-where-from="{{ a.where_from }}" data-travel-method="{{ a.travel_method }}" data-miles="{{ a.miles }}"
            data-cost="{{ a.cost }}" data-accepted="{{ a.accepted }}" data-waitlisted="{{ a.waitlisted }}"
            data-declined="{{ a.declined }}" data-app-complete="{{ a.app_complete }}" 
            {% if u.confirmation %} 
              data-comments="{{ c.notes }}" 
              data-github="{{ c.github }}" 
              data-tshirt="{{ c.tshirt }}" 
              data-dietary="{{ c.dietary }}" 
              data-phone="{{ c.phone }}" 
              data-resume-file-name="{{ c.resume_file_name }}"
            {% else %} 
              data-comments=""
              data-github="" 
              data-tshirt="" 
              data-dietary="" 
              data-phone="" 
              data-resume-file-name=""
            {% endif %}


            data-target="#applicationModal">
              <td><center id="{{ u.id }}-status">
                  {% if a.accepted %}
                    <i class="fas fa-check-circle text-success"></i>
                  {% elif a.waitlisted %}
                    <i class="fas fa-pause-circle text-warning"></i>
                  {% elif a.rejected %}
                    <i class="fas fa-times-circle text-danger"></i>
                  {% endif %}
              </center></td>
              <td><center>{{ a.full_name }}</center></td>
              <td><center>{{ u.email }}</center></td>
              <td><center>{{ a.school }}</center></td>
              <td><center>{{ a.grad_year }}</center></td>
              <td><center>{% if a.travel %}{{ a.travel_method }}{% else %}{% endif %}</center></td>
              <td><center>{% if a.travel %}{{ a.cost }}{% else %}{% endif %}</center></td>
            </tr>
            {% endwith %}
            {% endwith %}
        {% endfor %}
  </tbody>
</table>

<div class="modal" tabindex="-1" role="dialog" id="applicationModal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">View Application</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span id="user-id" style="display:none;"></span>
        <b>Full Name: </b> <span id="full-name"></span>
        <br/>
        <br/>
        <b>Email: </b> <span id="email"></span>
        <br/>
        <br/>
        <b>School: </b> <span id="school"></span>
        <br/>
        <br/>
        <b>Graduation Year: </b> <span id="grad-year"></span>
        <br/>
        <br/>
        <b>Hackathons Attended: </b> <span id="hackathons"></span>
        <br/>
        <br/>
        <b>Gender: </b> <span id="gender"></span>
        <br/>
        <br/>
        <b>Race: </b> <span id="race"></span>
        <br/>
        <br/>
        <b>Describe Yourself: </b> <span id="describe"></span>
        <br/>
        <br/>
        <b>Why do you want to attend: </b> <span id="why"></span>
        <br/>
        <br/>
        <b>Major: </b> <span id="major"></span>
        <br/>
        <br/>
        <b>Birthday: </b> <span id="birthday"></span>
        <br/>
        <br/>
        <b>Travel Reimbursement Needed: </b> <span id="travel"></span>
        <br/>
        <br/>
        <b>Travel Method: </b> <span id="travel-method"></span>
        <br/>
        <br/>
        <b>Miles: </b> <span id="miles"></span>
        <br/>
        <br/>
        <b>Cost: </b> <span id="cost"></span>
        <br/>
        <br/>
        <b>T-Shirt Size: </b> <span id="tshirt"></span>
        <br/>
        <br/>
        <b>Dietary Restrictions: </b> <span id="dietary"></span>
        <br/>
        <br/>
        <b>Phone: </b> <span id="phone"></span>
        <br/>
        <br/>
        <b>Github Username: </b> <span id="github"></span>
        <br/>
        <br/>
        <b>Resume: </b> <span id="resume"></span>
        <br/>
        <br/>
        <b>Status: </b> <span id="status"></span>
        <br/>
        <br/>
        <b>Comments: </b> <span id="comments"></span>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-info" onclick="makeUserAdmin()">Make Admin</button>
         <div id="appOptionButtons">
            <button type="button" class="btn btn-success" onclick="acceptUser()" >Accept</button>
            <button type="button" class="btn btn-warning" onclick="waitlistUser()" >Waitlist</button>
            <button type="button" class="btn btn-danger" onclick="rejectUser()" >Reject</button>
        </div>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="statusModal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
          <br/>
          <br/>
         <center> <span id="statusMessage"> </span> </center>
      </div>
    </div>
  </div>
</div>


<script>
    $(document).ready(function() {
        $('#dtBasicExample').dataTable({
            "order": [[ 0, "desc" ]],
            "pageLength": 5000,
        });
    });
    $(function () {
        $(".table-striped").find('tr[data-id]').on('click', function () {
          console.log($(this).data('status'));
            $('#user-id').html($(this).data('id'));
            $('#full-name').html($(this).data('full-name'));
            $('#email').html($(this).data('email'));
            $('#school').html($(this).data('school'));
            $('#grad-year').html($(this).data('grad-year'));
            $('#hackathons').html($(this).data('hackathons'));
            $('#gender').html($(this).data('gender'));
            $('#race').html($(this).data('race'));
            $('#describe').html($(this).data('describe'));
            $('#why').html($(this).data('why'));
            $('#major').html($(this).data('major'));
            $('#birthday').html($(this).data('birthday'));
            $('#travel').html($(this).data('travel'));
            $('#travel-method').html($(this).data('travel-method'));
            $('#miles').html($(this).data('miles'));
            $('#cost').html($(this).data('cost'));
            if ($(this).data('app-complete') == "True"){
                $("#appOptionButtons")[0].style.display = "";
                if ($(this).data('accepted') == "True"){
                  $('#status').html("Accepted");
                }
                else if ($(this).data('waitlisted') == "True"){
                  $('#status').html("Waitlisted");
                }
                else if ($(this).data('rejected') == "True"){
                  $('#status').html("Rejected");
                }
                else{
                  $('#status').html("Application Submitted");
                }
            }
            else{
                $("#appOptionButtons")[0].style.display = "none";
                $('#status').html("Incomplete Application");
            }
            $('#tshirt').html($(this).data('tshirt'));
            $('#dietary').html($(this).data('dietary'));
            $('#phone').html($(this).data('phone'));
            $('#github').html($(this).data('github'));
            if ($(this).data('resume-file-name') == ""){
              $('#resume').html("");
            }
            else{
              $('#resume').html("<a style='text-decoration: underline;color:blue' target='_blank' href='/download/resume/me/" + $(this).data('id') + "'>View Resume</a>");
            }
            $('#comments').html($(this).data('comments'));
            
            $('#orderModal').modal('show');
        });
        $("#dtBasicExample").DataTable().page.len( 100 ).draw();
    });
    function acceptUser(){
        var user_id = $('#user-id').html();
        var name = $('#full-name').html();
        $.get( "/admin/acceptUser/" + user_id, function( data ) {
          if (data.message == "Success"){
              $('#' + user_id + "-status").html('<i class="fas fa-check-circle text-success"></i>');
              $('#statusMessage').html('<i class="fas fa-check-circle text-success fa-10x"></i> <br/> <br/> ' + name + " was accepted!");
              $('#applicationModal').modal('hide');
              $('#statusModal').modal('show');
                setTimeout(function() {
                    $('#statusModal').modal('hide');
                }, 1500);
          }
          else{
              console.log("ERROR");
              $('#statusMessage').html('There was an error communicating with the server!');
              $('#applicationModal').modal('hide');
              $('#statusModal').modal('show');
          }
        });
    }
    function waitlistUser(){
      
        var user_id = $('#user-id').html();
        var name = $('#full-name').html();
        $.get( "/admin/waitlistUser/" + user_id, function( data ) {
            console.log(data);
          if (data.message == "Success"){
              $('#' + user_id + "-status").html('<i class="fas fa-pause-circle text-warning"></i>');
              $('#statusMessage').html('<i class="fas fa-pause-circle text-warning fa-10x"></i> <br/> <br/> ' + name + " was waitlisted!");
              $('#applicationModal').modal('hide');
              $('#statusModal').modal('show');
                setTimeout(function() {
                    $('#statusModal').modal('hide');
                }, 1500);
          }
          else{
              console.log("ERROR");
              $('#statusMessage').html('There was an error communicating with the server!');
              $('#applicationModal').modal('hide');
              $('#statusModal').modal('show');
          }
        });
    }
    function rejectUser(){
        var user_id = $('#user-id').html();
        var name = $('#full-name').html();
        $.get( "/admin/rejectUser/" + user_id, function( data ) {
          if (data.message == "Success"){
              $('#' + user_id + "-status").html('<i class="fas fa-times-circle text-danger"></i>');
              $('#statusMessage').html('<i class="fas fa-times-circle text-danger fa-10x"></i> <br/> <br/> ' + name + " was rejected!");
              $('#applicationModal').modal('hide');
              $('#statusModal').modal('show');
                setTimeout(function() {
                    $('#statusModal').modal('hide');
                }, 1500);
          }
          else{
              console.log("ERROR");
              $('#statusMessage').html('There was an error communicating with the server!');
              $('#applicationModal').modal('hide');
              $('#statusModal').modal('show');
          }
        });
    }
    function makeUserAdmin(){
        if (confirm('Are you sure you want to make this user an admin?')) {
            var user_id = $('#user-id').html();
            var name = $('#full-name').html();
            $.get( "/admin/makeAdmin/" + user_id, function( data ) {
              if (data.message == "Success"){
                  $('#' + user_id + "-status").html('<i class="fas fa-check-circle text-success"></i>');
                  $('#statusMessage').html('<i class="fas fa-check-circle text-success fa-10x"></i> <br/> <br/> ' + name + " was made an admin!");
                  $('#applicationModal').modal('hide');
                  $('#statusModal').modal('show');
                    setTimeout(function() {
                        $('#statusModal').modal('hide');
                    }, 1500);
              }
              else{
                  console.log("ERROR");
                  $('#statusMessage').html('There was an error communicating with the server!');
                  $('#applicationModal').modal('hide');
                  $('#statusModal').modal('show');
              }
            });
        }
    }
    $('#exportData').click(function(e) {
        e.preventDefault();  //stop the browser from following
        window.location.href = window.location.origin + "/admin/export_applications_csv";
    });
</script>

{% endblock %}
