{% extends "base.html" %}

{% block title %}Admin{% endblock %}

{% block content %}
    <h2 class="main-title"> <center>Admin</center> </h2>
    <hr style="width:50%">

    <br/>
    <br/>

    <div class="row" style="height:50%;">
      <div class="col-lg-6">
          <div style="width:100%;height:100%;border-radius:10px;vertical-align:middle;background-color:#002868;cursor:pointer" onclick="window.location.href = window.location.href + '/users';">
                  <br/><br/><br/>
                  <center><i class="fas fa-user text-white fa-10x"></i></center>
                  <br/>
                  <center><h3 style="color:white;vertical-align:middle;">Users</h3></center>
          </div>
      </div>
      <br/>
      <br/>
      <div class="col-lg-6">
          
      </div>
    </div>




{% endblock %}
