{% extends "admin.html" %}
{% load static %}
{% block title %}Admin - Settings{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
{% endblock %}

{% block js %}

{% endblock %}
{% block subtitle %}Settings{% endblock %}
{% block addContent %}
    <br/>
    <br/>

    <div class="alert alert-success" id="settings-updated" style="display:none;">
            Settings Updated!
    </div>
    <br/>
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
            <h1> <center>Main Settings</center> </h1>
            <hr style="width:25%">

            <div class="form-group">
                <label for="appsubmission">Application Submission Deadline</label>
                <input type="datetime-local" class="form-control" value="{{ application_submission_date }}" id="appsubmission" aria-describedby="appsubmissionHelp" placeholder="Submission Date">
                <small id="appsubmissionHelp" class="form-text text-muted">The date when applications can no longer be submitted</small>
            </div>
    
            <div class="form-group">
                <label for="confirmsubmission">Confirmation Submission Deadline</label>
                <input type="datetime-local" class="form-control" value="{{ application_confirmation_date }}" id="confirmsubmission" aria-describedby="confirmsubmissionHelp" placeholder="Confirmation Date">
                <small id="confirmsubmissionHelp" class="form-text text-muted">The date when confirmation can no longer be submitted</small>
            </div>

            <div class="form-group">
                <label for="judgingdeadline">Judging Deadline</label>
                <input type="datetime-local" class="form-control" value="{{ judging_deadline }}" id="judgingdeadline" aria-describedby="judgingdeadlineHelp" placeholder="Judging End Date">
                <small id="judgingdeadlineHelp" class="form-text text-muted">The time when judging is expected to end. Judging can still happen after this time</small>
            </div>
    
            <button class="btn btn-outline-primary" onclick="updateSettings()">Update</button>
            
    </div>
    <div class="col-lg-2"></div>
</div>
   
      <script>
          function updateSettings(){
              var app = document.getElementById('appsubmission').value;
              var confirm = document.getElementById('confirmsubmission').value;
              var judging = document.getElementById('judgingdeadline').value;
              var postData = {
                submission_deadline: app, 
                confirmation_deadline: confirm,
                judging_deadline: judging,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }
            console.log(postData);
            $.post("/admin/settings", postData, function(data) {
                if (data.message == "success"){
                    var alert = document.getElementById("settings-updated");
                    alert.style.display = "";
                    setTimeout(
                        function(){
                            alert.style.display = "none";
                    }, 3000);
                }
            });
          }
      </script>
      

{% endblock %}
