{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v9.0&appId=477200742942308&autoLogAppEvents=1" nonce="pvaYrhcm"></script>


    <h2 class="main-title"> <center>Dashboard</center> </h2>
    <hr style="width:50%">
    <br/>
    <div class="card" class="main-card">
      <div class="card-body">
        <h4 class="card-title"><center>Your application status is: </center></h4>
        <div style="background-color:#e3e3e3; padding:5px;">
            <p class="card-text"><center style="font-size:20px;">
                <script>console.log("{{ confirmation }}");</script>
                {% if confirmation == "accepted" %}
                    CONFIRMED
                {% elif confirmation == "rejected" %}
                    DECLINED
                {% elif conirmation %}
                    UNCONFIRMED
                {% else %}
                    {% if app.app_complete %}
                        {% if app.accepted %}
                            ACCEPTED
                        {% elif app.waitlisted %}
                            WAITLISTED
                        {% elif app.rejected %}
                            REJECTED
                        {% else %}
                            COMPLETED, AWAITING APPROVAL
                        {% endif %}
                    {% else %}
                        INCOMPLETE
                    {% endif %}
                {% endif %}
                </center></p>
        </div>
        <p class="card-text" style="color:#212529;">
            <center><b>Application Deadline:</b> {{ submission_deadline }}</center>
            <center><b>Confirmation Deadline:</b> {{ confirmation_deadline }}</center>
            {% if app.app_complete %}<center><b>Your Raffle ID:</b> {{ user.raffle_id }}</center>{% endif %}
                <br/>
                {% if not app.app_complete %}
                    <center>You still need to complete your application!</center>
                    <br/>
                    <center>If you do not complete your application before
                         {{ submission_deadline }},
                        you will not be considered for the admissions lottery!</center>
                        <br/>
                {% endif %}

                {% if confirmation == True %}
                    <center>You still need to complete your confirmation application!</center>
                    <br/>
                    <center>If you do not complete your confirmation before
                         {{ confirmation_deadline }},
                        your spot will be given up!</center>
                        <br/>
                {% endif %}
                </p>
                {% if confirmation == True or confirmation == "accepted" %}
                    <center><a href="/confirmation" class="btn btn-primary" style="background-color:#002868; border-color:#002868; color: white;">Go to Confirmation</a> <a href="" data-toggle="modal" data-target="#accountSettings" class="btn btn-primary" style="background-color:#002868; border-color:#002868; " id="accountSettingsButton">Account Settings</a>{% if request.user.is_admin %} <a href="" data-toggle="modal" data-target="#sendnotif" class="btn btn-primary" style="background-color:#002868; border-color:#002868; " id="sendnotifButton">Send Notification</a>{% endif %}</center>
                {% else %}
                    <center><a href="/application" class="btn btn-primary" style="background-color:#002868; border-color:#002868; color: white;">Go to Application</a>   <a href="" data-toggle="modal" data-target="#accountSettings" class="btn btn-primary" style="background-color:#002868; border-color:#002868; " id="accountSettingsButton">Account Settings</a>{% if request.user.is_admin %} <a href="" data-toggle="modal" data-target="#sendnotif" class="btn btn-primary" style="background-color:#002868; border-color:#002868; " id="sendnotifButton">Send Notification</a>{% endif %}</center>
                {% endif %}
      </div>
    </div>
    <br/>
    <br/>
    <div class="card" class="main-card">
        <div class="card-body">
          <h4 class="card-title"><center>Refer a friend for free raffle tickets!</h4>
          <p class="card-text" style="color:#212529;">
            Get yourself 2 free tickets and the friend you refer 1 free ticket for our raffle, where we are giving away an Xbox, Powerbeats, and more. Here are instructions on how:
            <ol type="1">
                <li>Make sure you have applied, been accepted, and confirmed that you are coming to HooHacks.</li>
                <li>Tell your friend to apply for HooHacks by linking them to <a href="https://hoohacks.io" style="color:blue">hoohacks.io</a>!</li>
                <li>Send your friend your raffle ID ({{ user.raffle_id }}). In their application, there is a field for them to include the ID.</li>
                <li>Once they submit, you’re all done! The tickets will be recorded under you and your friend’s name!</li>
            </ol>
        </div>
      </div>
    <br/>
    <br/>
    <div class="row">
        {% comment %} ================= UNCOMMENT ONCE NEW FACEBOOK GROUP HAS BEEN CREATED ================================ {% endcomment %}
        {% comment %} <div class="col-lg-4">
            <div class="fb-group" data-href="https://www.facebook.com/groups/hoohacks2021/" data-width="400" data-show-social-context="true" data-show-metadata="true"><blockquote cite="https://www.facebook.com/groups/hoohacks2021/" class="fb-xfbml-parse-ignore">HooHacks 2021 Attendees</blockquote></div>
        </div> {% endcomment %}
        <div class="col-lg-4">
            <div class="fb-page" data-href="https://www.facebook.com/hoohacks/" data-tabs="timeline,events,groups" data-width="500" data-height="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/hoohacks/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/hoohacks/">HooHacks</a></blockquote></div>
        </div>
        <div class="col-lg-4">
            <a class="twitter-timeline" data-height="500" data-width="500" data-theme="light" href="https://twitter.com/hoohacks?ref_src=twsrc%5Etfw">Tweets by hoohacks</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>        
        </div>
    </div>


    <div class="modal" tabindex="-1" role="dialog" id="accountSettings">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">User Settings</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            <div class="modal-body">
                <h5 style="text-align: center;">Change User Account Type</h5>
                <br/>
                <p style="color: black; text-align: center;">
                    Make me a: <a href="/make/mentor" class="btn btn-primary">Mentor</a> <a href="/make/judge" class="btn btn-primary">Judge</a> <a href="/make/volunteer" class="btn btn-primary">Volunteer</a> <a href="/make/admin" class="btn btn-primary">Admin</a>

                </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      {% if request.user.is_admin %}
        <div class="modal" tabindex="-1" role="dialog" id="sendnotif">
            <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Send Notification</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5 style="text-align: center;">Send Notification via Slack and Text to all confirmed members</h5>
                    <br/>
                    
                    <div class="form-group">
                        <label for="message">Notification Message</label>
                        <textarea class="form-control" id="notification_message" name="notification_message" rows="3" maxlength="140" ></textarea>
                    </div>
                    <center><button class="btn btn-primary" id="send_notification" onclick="send_notification()">Send notification</button></center>
                    <br/>
                    <br/>
                    <p id="notif_resp"></p>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
        </div>
      {% endif %}

    <script>
        function setupFBFeed(){
            var fbFeed = document.getElementById('facebook-feed');
            var fbFeedWidth = fbFeed.clientWidth - 20;
            console.log(fbFeedWidth);
            fbFeed.innerHTML = '<div class="fb-group" data-href="https://www.facebook.com/groups/hoohacks2020/" data-width="' + fbFeedWidth.toString() + '" data-show-social-context="true" data-show-metadata="true"></div>'; 
        }
        $(document).ready(function (){
            // setupFBFeed();
        });

        '{% if request.user.is_admin %}'
            function send_notification(){
                console.log("HERE")
                var postData = {
                    notification_msg: document.getElementById('notification_message').value,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                };
                console.log(postData);
                document.getElementById('send_notification').disabled = true;
                $.post( "/send/notification", postData, function(data) {
                    console.log(data);
                    if (data.status == 200){
                        document.getElementById('notif_resp').innerHTML = '<i class="fas fa-check-circle text-success"></i> ' + data.message;
                    }
                    else{
                        document.getElementById('notif_resp').innerHTML = '<i class="fas fa-times-circle text-danger"></i> ' + data.message;
                    }
                    document.getElementById('send_notification').disabled = false;
                });
            }
        '{% endif %}'

    </script>

{% endblock %}
