{% extends "base.html" %}

{% block title %}HooHacks - Dashboard{% endblock %}

{% block content %}

    <h2 class="main-title"> <center>Dashboard</center> </h2>
    <hr style="width:50%">
    <br/>
    <div class="card" class="main-card">
      <div class="card-body">
        <h4 class="card-title"><center>Your application status is: </center></h4>
        <div style="background-color:#e3e3e3; padding:5px;">
            <p class="card-text"><center style="font-size:20px;">{% if app.app_complete %} COMPLETE {% else %} INCOMPLETE {% endif %}</center></p>
        </div>
        <p class="card-text" style="color:#212529;">
            <center><b>Registration Deadline:</b> {{ submission_deadline }}</center>
                <br/>
                {% if not app.app_complete %}
                    <center>You still need to complete your application!</center>
                {% endif %}
                <br/>
                <center>If you do not complete your application before the Saturday,
                     {{ submission_deadline }},
                    you will not be considered for the admissions lottery!</center></p>

                    <center><a href="/application" class="btn btn-primary" style="background-color:#002868">Go to Application</a></center>
      </div>
    </div>
{% endblock %}
