{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

    <h2 class="main-title"> <center>Dashboard</center> </h2>
    <hr style="width:50%">
    <br/>
    <div class="card" class="main-card">
      <div class="card-body">
        <h4 class="card-title"><center>Your application status is: </center></h4>
        <div style="background-color:#e3e3e3; padding:5px;">
            <p class="card-text"><center style="font-size:20px;">
                <script>console.log("{{ confirmation }}");</script>
                {% if confirmation == "accepted" %}
                    CONFIRMED
                {% elif confirmation == "rejected" %}
                    DECLINED
                {% elif conirmation %}
                    UNCONFIRMED
                {% else %}
                    {% if app.app_complete %}
                        {% if app.accepted %}
                            ACCEPTED
                        {% elif app.waitlisted %}
                            WAITLISTED
                        {% elif app.rejected %}
                            REJECTED
                        {% else %}
                            COMPLETE
                        {% endif %}
                    {% else %}
                        INCOMPLETE
                    {% endif %}
                {% endif %}
                </center></p>
        </div>
        <p class="card-text" style="color:#212529;">
            <center><b>Application Deadline:</b> {{ submission_deadline }}</center>
            <center><b>Confirmation Deadline:</b> {{ confirmation_deadline }}</center>
                <br/>
                {% if not app.app_complete %}
                    <center>You still need to complete your application!</center>
                    <br/>
                    <center>If you do not complete your application before
                         {{ submission_deadline }},
                        you will not be considered for the admissions lottery!</center>
                        <br/>
                {% endif %}

                {% if confirmation == True %}
                    <center>You still need to complete your confirmation application!</center>
                    <br/>
                    <center>If you do not complete your confirmation before
                         {{ confirmation_deadline }},
                        your spot will be given up!</center>
                        <br/>
                {% endif %}
                </p>
                {% if confirmation == True or confirmation == "accepted" %}
                    <center><a href="/confirmation" class="btn btn-primary" style="background-color:#002868">Go to Confirmation</a></center>
                {% else %}
                    <center><a href="/application" class="btn btn-primary" style="background-color:#002868">Go to Application</a></center>
                {% endif %}
      </div>
    </div>
{% endblock %}
