{% extends "judging-admin.html" %}
{% load static %}
{% block title %}Judging - Teams{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">

{% endblock %}

{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/i18n/defaults-*.min.js"></script> -->

{% endblock %}
{% block subtitle %}Teams{% endblock %}
{% block addContent %}
    <br/>
    <br/>

    <div class="alert alert-success" id="team-added" style="display:none;">
        Team Added!
    </div>
    <div class="alert alert-success" id="team-deleted" style="display:none;">
        Team Deleted!
    </div>
    <div class="alert alert-success" id="team-updated" style="display:none;">
        Team Updated!
    </div>
    <div class="alert alert-danger" id="team-error" style="display:none;">
        There was an error adding this team!
    </div>

    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <form method="POST" action="/judging/import/teams" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                  <label for="devpost_csv">Devpost CSV</label>
                  <input type="file" name="devpost_csv" class="form-control" id="devpost_csv" aria-describedby="devPostHelp" placeholder="Devpost CSV", accept=".csv">
                  <small id="devPostHelp" class="form-text text-muted">Upload the Devpost CSV formatted in the following order TEAM_NAME,TEAM_URL,AWARD.</small>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>              
        </div>
        <div class="col-lg-1"></div>
    </div>

    <br/>

    <h1> <center>Teams</center> </h1>
    <hr style="width:25%">

    <center><a href="/judging/teams/assign_tables" class="btn btn-outline-primary">Assign Tables</a></center>
    <br/>

    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div id="main-teams">
                {% for t in teams %}
                    <div id="team-{{ t.id }}">
                    <div class="card" >
                      <div class="card-body">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label for="table-{{ t.id }}">Table Number</label>
                                    <input type="text" required class="form-control" id="table-{{ t.id }}" placeholder="Table Number" value="{{ t.table }}" name="table">
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <div class="form-group">
                                    <label for="name-{{ t.id }}">Team Name</label>
                                    <input type="text" required class="form-control" id="name-{{ t.id }}" placeholder="Team Name" value="{{ t.name }}" name="t-name">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div style="margin: 0 auto;">
                                <button class="btn btn-outline-primary" type="button" onclick="updateTeam({{ t.id }})">Update</button>
                                <button class="btn btn-outline-danger" type="button" onclick="deleteTeam({{ t.id }})">Delete</button>
                            </div>
                        </div>
                      </div>
                    </div>
                    <br/>
                    </div>
                {% endfor %}
            </div>

            

        </div>
        <div class="col-lg-1"></div>
    </div>


<script>
    function updateTeam(id){
        var postData = {
            tid: id,
            table: document.getElementById('table-' + id).value,
            name: document.getElementById('name-' + id).value,
            update: "true",
            csrfmiddlewaretoken: '{{ csrf_token }}'
        }

        $.post("/judging/teams/update", postData, function(data) {
            console.log(data);
            window.d = data;
            if (data.message == "success"){
                var alert = document.getElementById("team-updated");
                alert.style.display = "";
                setTimeout(
                    function(){
                        alert.style.display = "none";
                }, 3000);
            }
        });
    }
    function deleteTeam(id){
        var postData = {
            tid: id,
            delete: "true",
            csrfmiddlewaretoken: '{{ csrf_token }}'
        }
        console.log(postData);
        $.post("/judging/teams/update", postData, function(data) {
            if (data.message == "success"){
                var element = document.getElementById('team-' + id);
                element.parentNode.removeChild(element);
                var alert = document.getElementById("team-deleted");
                alert.style.display = "";
                setTimeout(
                    function(){
                        alert.style.display = "none";
                }, 3000);
            }
        });
    }
</script>

{% endblock %}
