{% extends "base.html" %}
{% load static %}
{% block title %}Judging - Evaluate{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">

{% endblock %}

{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/i18n/defaults-*.min.js"></script> -->

{% endblock %}
{% block content %}
    <br/>
    <br/>
    <h2 class="main-title"> <center>Judging</center> </h2>
    <hr style="width:50%">

    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <form method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <div class="form-group">
                            <label for="t-selection"><b>Team</b></label>
                            <br/>
                            <select class="form-control selectpicker" id="team-selection" name='team'>
                                {% for t in all_teams %}
                                    <option {% if t.id == demo.team.id %} selected {% endif %} value="{{ t.id }}">Table {{ t.table }} - {{ t.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
                <br/>
                <hr style="width:100%">
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                            <div class="form-group">
                                <label for="creativity-list"><b>Creativity of Idea</b></label>
                                <br/>
                                <div id="creativity-list" class="btn-group btn-group-toggle" data-toggle="buttons" style="widows: 100%;">
                                    <label class="btn btn-outline-primary {% if demo.creativity == 1 %} active {% endif %}" title="1" style="width: 100px;">
                                        <input type="radio" name="creativity" value="1" required {% if demo.creativity == 1 %} checked {% endif %}>1
                                    </label>
                                    <label class="btn btn-outline-primary {% if demo.creativity == 2 %} active {% endif %}" title="2" style="width: 100px;">
                                        <input type="radio" name="creativity" value="2" required {% if demo.creativity == 2 %} checked {% endif %}>2
                                    </label>
                                    <label class="btn btn-outline-primary {% if demo.creativity == 3 %} active {% endif %}" title="3" style="width: 100px;">
                                        <input type="radio" name="creativity" value="3" required {% if demo.creativity == 3 %} checked {% endif %}>3
                                    </label>
                                    <label class="btn btn-outline-primary {% if demo.creativity == 4 %} active {% endif %}" title="4" style="width: 100px;">
                                        <input type="radio" name="creativity" value="4" required {% if demo.creativity == 4 %} checked {% endif %}>4
                                    </label>
                                    <label class="btn btn-outline-primary {% if demo.creativity == 5 %} active {% endif %}" title="5" style="width: 100px;">
                                        <input type="radio" name="creativity" value="5" required {% if demo.creativity == 5 %} checked {% endif %}>5
                                    </label>
                                </div>
                            </div>
                    </div>
                    <div class="col-lg-3"></div>
                </div>
               
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                        <div class="form-group">
                                <label for="functionality-list"><b>Functionality of Project</b></label>
                                <br/>
                                <div id="functionality-list" class="btn-group btn-group-toggle" data-toggle="buttons" style="widows: 100%;">
                                    <label class="btn btn-outline-primary {% if demo.functionality == 1 %} active {% endif %}" title="1" style="width: 100px;">
                                        <input type="radio" name="functionality" value="1" required {% if demo.functionality == 1 %} checked {% endif %}>1
                                    </label>
                                    <label class="btn btn-outline-primary {% if demo.functionality == 2 %} active {% endif %}" title="2" style="width: 100px;">
                                        <input type="radio" name="functionality" value="2" required {% if demo.functionality == 2 %} checked {% endif %}>2
                                    </label>
                                    <label class="btn btn-outline-primary {% if demo.functionality == 3 %} active {% endif %}" title="3" style="width: 100px;">
                                        <input type="radio" name="functionality" value="3" required {% if demo.functionality == 3 %} checked {% endif %}>3
                                    </label>
                                    <label class="btn btn-outline-primary {% if demo.functionality == 4 %} active {% endif %}" title="4" style="width: 100px;">
                                        <input type="radio" name="functionality" value="4" required {% if demo.functionality == 4 %} checked {% endif %}>4
                                    </label>
                                    <label class="btn btn-outline-primary {% if demo.functionality == 5 %} active {% endif %}" title="5" style="width: 100px;">
                                        <input type="radio" name="functionality" value="5" required {% if demo.functionality == 5 %} checked {% endif %}>5
                                    </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3"></div>
                </div>

                <div class="row">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                    <label for="ui-list"><b>UI/UX (User Experience)</b></label>
                                    <br/>
                                    <div id="ui-list" class="btn-group btn-group-toggle" data-toggle="buttons" style="widows: 100%;">
                                        <label class="btn btn-outline-primary {% if demo.ui == 1 %} active {% endif %}" title="1" style="width: 100px;">
                                            <input type="radio" name="ui" value="1" required {% if demo.ui == 1 %} checked {% endif %}>1
                                        </label>
                                        <label class="btn btn-outline-primary {% if demo.ui == 2 %} active {% endif %}" title="2" style="width: 100px;">
                                            <input type="radio" name="ui" value="2" required {% if demo.ui == 2 %} checked {% endif %}>2
                                        </label>
                                        <label class="btn btn-outline-primary {% if demo.ui == 3 %} active {% endif %}" title="3" style="width: 100px;">
                                            <input type="radio" name="ui" value="3" required {% if demo.ui == 3 %} checked {% endif %}>3
                                        </label>
                                        <label class="btn btn-outline-primary {% if demo.ui == 4 %} active {% endif %}" title="4" style="width: 100px;">
                                            <input type="radio" name="ui" value="4" required {% if demo.ui == 4 %} checked {% endif %}>4
                                        </label>
                                        <label class="btn btn-outline-primary {% if demo.ui == 5 %} active {% endif %}" title="5" style="width: 100px;">
                                            <input type="radio" name="ui" value="5" required {% if demo.ui == 5 %} checked {% endif %}>5
                                        </label>
                                </div>
                            </div>
                    </div>
                    <div class="col-lg-3"></div>
                </div>
                
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                        <div class="form-group">
                                <label for="impact-list"><b>Impact of Project</b></label>
                                <br/>
                                <div id="impact-list" class="btn-group btn-group-toggle" data-toggle="buttons" style="widows: 100%;">
                                    <label class="btn btn-outline-primary {% if demo.impact == 1 %} active {% endif %}" title="1" style="width: 100px;">
                                        <input type="radio" name="impact" value="1" required {% if demo.impact == 1 %} checked {% endif %}>1
                                    </label>
                                    <label class="btn btn-outline-primary {% if demo.impact == 2 %} active {% endif %}" title="2" style="width: 100px;">
                                        <input type="radio" name="impact" value="2" required {% if demo.impact == 2 %} checked {% endif %}>2
                                    </label>
                                    <label class="btn btn-outline-primary {% if demo.impact == 3 %} active {% endif %}" title="3" style="width: 100px;">
                                        <input type="radio" name="impact" value="3" required {% if demo.impact == 3 %} checked {% endif %}>3
                                    </label>
                                    <label class="btn btn-outline-primary {% if demo.impact == 4 %} active {% endif %}" title="4" style="width: 100px;">
                                        <input type="radio" name="impact" value="4" required {% if demo.impact == 4 %} checked {% endif %}>4
                                    </label>
                                    <label class="btn btn-outline-primary {% if demo.impact == 5 %} active {% endif %}" title="5" style="width: 100px;">
                                        <input type="radio" name="impact" value="5" required {% if demo.impact == 5 %} checked {% endif %}>5
                                    </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3"></div>
                </div>

                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                        <div class="form-group">
                                <label for="feasibility-list"><b>Feasibility of Project</b></label>
                                <br/>
                                <div id="feasibility-list" class="btn-group btn-group-toggle" data-toggle="buttons" style="widows: 100%;">
                                    <label class="btn btn-outline-primary {% if demo.feasibility == 1 %} active {% endif %}" title="1" style="width: 100px;">
                                        <input type="radio" name="feasibility" value="1" required {% if demo.feasibility == 1 %} checked {% endif %}>1
                                    </label>
                                    <label class="btn btn-outline-primary {% if demo.feasibility == 2 %} active {% endif %}" title="2" style="width: 100px;">
                                        <input type="radio" name="feasibility" value="2" required {% if demo.feasibility == 2 %} checked {% endif %}>2
                                    </label>
                                    <label class="btn btn-outline-primary {% if demo.feasibility == 3 %} active {% endif %}" title="3" style="width: 100px;">
                                        <input type="radio" name="feasibility" value="3" required {% if demo.feasibility == 3 %} checked {% endif %}>3
                                    </label>
                                    <label class="btn btn-outline-primary {% if demo.feasibility == 4 %} active {% endif %}" title="4" style="width: 100px;">
                                        <input type="radio" name="feasibility" value="4" required {% if demo.feasibility == 4 %} checked {% endif %}>4
                                    </label>
                                    <label class="btn btn-outline-primary {% if demo.feasibility == 5 %} active {% endif %}" title="5" style="width: 100px;">
                                        <input type="radio" name="feasibility" value="5" required {% if demo.feasibility == 5 %} checked {% endif %}>5
                                    </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3"></div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                        <button class="btn btn-outline-success" type="submit" style="width:100%">Submit</button>
                    </div>
                    <div class="col-lg-3"></div>
                </div>

            </form>

            <br/>
            <br/>
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    <p style="text-align: center;">You still have to judge <b style="color: black;">{{ remaining_demos }} projects</b>. Expect to spend at most <b style="color: black">{{ time_per_presentation }} minutes</b> per presentation.</p>
                    <h1 style="text-align: center;"><time>00:00</time></h1>
                    <center> <button id="start" class="btn btn-outline-primary" style="margin-right: 10px;">Start</button><button id="stop" class="btn btn-outline-primary" style="margin-right: 10px;">Stop</button><button id="clear" class="btn btn-outline-primary">Clear</button></center>
                </div>
                <div class="col-lg-3"></div>
            </div>
            
            <script>
                var h1 = document.getElementsByTagName('h1')[0],
                start = document.getElementById('start'),
                stop = document.getElementById('stop'),
                clear = document.getElementById('clear'),
                seconds = 0, minutes = 0, hours = 0,
                t;

            function add() {
                seconds++;
                if (seconds >= 60) {
                    seconds = 0;
                    minutes++;
                    if (minutes >= 60) {
                        minutes = 0;
                        hours++;
                    }
                }
                
                h1.textContent = (minutes ? (minutes > 9 ? minutes : "0" + minutes) : "00") + ":" + (seconds > 9 ? seconds : "0" + seconds);

                timer();
            }
            function timer() {
                t = setTimeout(add, 1000);
            }

            /* Start button */
            start.onclick = timer;

            /* Stop button */
            stop.onclick = function() {
                clearTimeout(t);
            }

            /* Clear button */
            clear.onclick = function() {
                h1.textContent = "00:00:00";
                seconds = 0; minutes = 0; hours = 0;
            }
            </script>
            
        </div>
        <div class="col-lg-1"></div>
    </div>

{% endblock %}
