{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>HooHacks</title>
        <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js"></script>
        <!-- Hotjar Tracking Code for https://hoohacks-dev.herokuapp.com -->
<script>
  (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:1626357,hjsv:6};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
  })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
    </head>
    <body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5" style="margin-top:10rem !important;">

          <div class="card-body">
              <img src="{% static 'img/main.png' %}" style="width:100px;border-radius:0.25rem;display:block;margin:auto;" />
                <br/>

                {% if message != "None" %}
                <div class="alert alert-info" role="alert">
                    <center><strong> {{ message }} </strong></center>
                </div>
                {% endif %}
                {% if show %}
                    <form class="form-signin" method="POST" action="/users/forgot/">
                      {% csrf_token %}
                      <div class="form-label-group">
                        <input type="email" id="inputEmail" class="form-control" name="email" placeholder="Email address" required autofocus>
                        <label for="inputEmail">Email address</label>
                      </div>

                       <button class="btn btn-lg btn-danger btn-block text-uppercase" name="button-type" value="forgot" type="submit">Forgot my password</button>
                    </form>
                {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
