{% extends "base.html" %}

{% block title %}Enter Judging System{% endblock %}

{% block content %}
    <h2 class="main-title"> <center>Enter Judging System</center> </h2>
    <hr style="width:50%">

    <br/>
    <br/>

    <form class="form-signin" method="POST" action="/judging/login/complete" style="width:60%; margin:auto; display:block;">
        {% if not msg == ""  %}
            <div class="alert alert-danger" role="alert">
                {{ msg }}
            </div>
        {% endif %}
    
     <div class="form-group">
      <label for="password">Your Account Password </label>
      <input type="password" required class="form-control" id="password" placeholder="Password" name="password">
    </div>


      <button class="btn btn-lg btn-primary btn-block text-uppercase" name="button-type" value="adminPassword">Start Judging</button>

    </form>

{% endblock %}
