{% extends "base.html" %}

{% block title %}Make me an Admin{% endblock %}

{% block content %}
    <h2 class="main-title"> <center>Make Myself an Admin</center> </h2>
    <hr style="width:50%">

    <br/>
    <br/>

    <form class="form-signin" method="POST" action="/make/admin" style="width:60%; margin:auto; display:block;">
        {% csrf_token %}
        {% if not msg == ""  %}
            <div class="alert alert-success" role="alert">
                {{ msg }}
            </div>
        {% endif %}
     <div class="form-group">
       <label for="password">Password</label>
       <input type="password" required class="form-control" id="full-name" placeholder="Password" name="password">
     </div>

      <button class="btn btn-lg btn-primary btn-block text-uppercase" name="button-type" value="adminPassword">Make me an admin!</button>

    </form>

{% endblock %}
