{% extends "base.html" %}

{% block title %}Make me a Judge{% endblock %}

{% block content %}
    <h2 class="main-title"> <center>Make Myself a Judge</center> </h2>
    <hr style="width:50%">

    <br/>
    <br/>

    <form class="form-signin" method="POST" action="/make/judge" style="width:60%; margin:auto; display:block;">
        {% if not msg == ""  %}
            <div class="alert alert-success" role="alert">
                {{ msg }}
            </div>
        {% endif %}

            {% csrf_token %}

        <div class="form-group">
            <label for="first-name">First Name</label>
            <input type="text" required class="form-control" id="first-name" placeholder="First Name" name="first-name">
        </div>

        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input type="text" required class="form-control" id="last-name" placeholder="Last Name" name="last-name">
        </div>
    

     <div class="form-group">
       <label for="password">Judging Password (given by Hackathon Organizers)</label>
       <input type="password" required class="form-control" id="judging-password" placeholder="Password" name="judge_password">
     </div>

     <div class="form-group">
        <label for="org-name">Organization Name</label>
        <select name="organization-id" required class="selectpicker" data-width="100%" id="org-name">
            {% for o in organizations %}
              <option value="{{ o.id }}" {% if request.user.organization.id == o.id %} selected {% endif %} >{{ o.name }}</option>
            {% endfor %}
         </select>
      </div>

      <button class="btn btn-lg btn-primary btn-block text-uppercase" name="button-type" value="adminPassword">Make me a judge!</button>

    </form>

{% endblock %}
