{% extends "base.html" %}

{% block title %}Support Tickets{% endblock %}

{% block content %}

    <h2 class="main-title"> <center>My Tickets</center> </h2>
    <hr style="width:50%">
    <br/>

    <div class="alert alert-success" id="successMessage" style="display:none;">
        <strong>A new ticket was created!</strong>
      </div>
  
      <div class="alert alert-danger" id="dangerMessage" style="display:none;">
        <strong>Error creating ticket! Please log out and try again.</strong>
      </div>
  
      <div class="alert alert-success" id="successMessageDelete" style="display:none;">
        <strong>A ticket was deleted!</strong>
      </div>

      <div class="alert alert-success" id="successMessageClaim" style="display:none;">
        <strong>Successfully claimed ticket!</strong>
      </div>

        <div class="alert alert-success" id="successMessageUnclaim" style="display:none;">
            <strong>Successfully unclaimed ticket!</strong>
        </div>
  
      <div class="alert alert-danger" id="dangerMessageDelete" style="display:none;">
        <strong>Error claiming ticket! Please log out and try again.</strong>
      </div>

      <br/>
      
    <div id="tickets">
    {% for t in tickets %}
   
        <div class="card" id="ticket-{{ t.id }}">
          <div class="card-body">
            <div class="row">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-8">
                    <h4 class="card-title" id="ticket-id-{{ t.id }}" style="text-align:center;">Ticket #{{ t.id }}</h4>
                </div>
                <div class="col-sm-2">
                </div>
            </div>
            <b>Question: </b><span id="ticket-question-{{ t.id }}">{{ t.question }}</span><br/>
            <b>Location: </b><span id="ticket-location-{{ t.id }}">{{ t.location }}</span><br/>
            <b>Ticket Submitted by: </b><span id="ticket-user-name-{{ t.id }}">{{ t.full_name }}</span><br/>
            <b>Contact Phone Number: </b><span id="ticket-contact-{{ t.id }}">{{ t.contact }}</span><br/>
            <b>Status: </b><span id="ticket-status-{{ t.id }}">{{ t.status }}</span>
            <br/>

            <div class="row">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-6 text-center">
                    {% if not t.claimedByMe %}
                        <button type="button" id="ticket-claim-button-{{ t.id }}" class="btn btn-primary" data-id="{{ t.id }}" onclick="claimTicket('{{ t.id }}', '{{ user.email }}')" style="align:right;"><i class="fa fa-check" aria-hidden="true"></i> Claim Ticket</button>
                    {% else %}
                    <button type="button" id="ticket-claim-button-{{ t.id }}" class="btn btn-warning" data-id="{{ t.id }}" onclick="unClaimTicket('{{ t.id }}', '{{ user.email }}')" style="align:right;"><i class="fa fa-times" aria-hidden="true"></i> Unclaim Ticket</button>
                    {% endif %}
                        <button type="button" class="btn btn-danger" data-id="{{ t.id }}" onclick="deleteTicket('{{ t.id }}', '{{ t.email }}')" style="align:right;"><i class="fa fa-trash" aria-hidden="true"></i> Delete Ticket</button>
                </div>
                <div class="col-sm-3">
                </div>
            </div>

          </div>
        </div>
    {% endfor %}
    

    <div style="display:none;" id="copy-ticket">
        <div class="card" id="ticket-base">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-8">
                        <h4 class="card-title" id="ticket-id" style="text-align:center;"></h4>
                    </div>
                    <div class="col-sm-2">
                    </div>
                </div>
            <b>Question: </b><span id="ticket-question"></span><br/>
            <b>Location: </b><span id="ticket-location"></span><br/>
            <b>Ticket Submitted by: </b><span id="ticket-user-name"></span><br/>
            <b>Contact Phone Number: </b><span id="ticket-contact"></span><br/>
            <b>Status: </b><span id="ticket-status"></span>
            </div>

            <div class="row" style="padding-bottom: 20px">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-6 text-center">
                        <button type="button" id="ticket-claim-button" class="btn btn-primary" style="align:right;"><i class="fa fa-check" aria-hidden="true"></i> Claim Ticket</button>
                    
                        <button type="button" class="btn btn-danger" style="align:right;"><i class="fa fa-trash" aria-hidden="true"></i> Delete Ticket</button>
                </div>
                <div class="col-sm-3">
                </div>
            </div>

        </div>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>


    <script>
        var my_email = "{{ user.email }}";

        var ws_protocol = 'ws://';
        if (location.protocol == 'https:'){
            ws_protocol = 'wss://';
        }

        window.chatSocket = new WebSocket(
        ws_protocol + window.location.host +
        '/ws/chat/' + 'main' + '/');

        chatSocket.onmessage = function(e) {
            console.log(e);
            var data = JSON.parse(e.data);
            console.log(data.message);
            data = JSON.parse(data.message);
            console.log(data);
            var message = data['type'];
            console.log(message);
            if (message == 'create-ticket-mentors'){
                createTicketCB(data);
            }
            if (message == 'ticket-deleted'){
                deleteTicketCB(data);
            }
            if (message == 'ticket-status-change'){
                ticketStatusChangeCB(data);
            }
        };

        
        // socket.on("create-ticket-mentors", function(data){
        //     createTicketCB(data);
        // });

        // socket.on('ticket-deleted', function(data){
        //    deleteTicketCB(data);
        // });

        // socket.on('ticket-status-change', function(data){
        //    ticketStatusChangeCB(data);
        // });

        function ticketStatusChangeCB(data){
            console.log(data);
            console.log(my_email);
            if (data.status != "Unclaimed"){
                console.log("Ticket Claimed!");
                if (my_email == data.mentor_email){
                    console.log("I Claimed!")
                    claimTicketCB(data);
                }
                else{
                    deleteTicketCB(data);
                }
            }  
            else{
                console.log("Ticket unclaimed!");
                if (my_email == data.mentor_email){
                    unClaimTicketCB(data);
                }
                else{
                    createTicketCB(data);
                }
            }
        }

        function createTicketCB(data){
            if (data.code == "403"){
                var alert = document.getElementById("dangerMessage");
                alert.style.display = "";
                setTimeout(
                    function(){
                        alert.style.display = "none";
                }, 3000);
                return;
            }
            var alert = document.getElementById("successMessage");
            alert.style.display = "";
            setTimeout(
                function(){
                    alert.style.display = "none";
            }, 3000);
            var copyTicket = document.getElementById("copy-ticket").children[0];
            var clone = copyTicket.cloneNode(true);
            clone.id = "ticket-" + data.id;
            var ticketBody = clone.children[0];
            window.tb = ticketBody;
            var ticketTitle = ticketBody.children[0].children[1].children[0];
            ticketTitle.id = "ticket-id-" + data.id;
            ticketTitle.textContent = "Ticket #" + data.id;

            var ticketQuestion = ticketBody.children[2];
            ticketQuestion.id = "ticket-question-" + data.id;
            ticketQuestion.textContent = data.question;

            var ticketLocation = ticketBody.children[5];
            ticketLocation.id = "ticket-location-" + data.id;
            ticketLocation.textContent = data.location;

            var ticketUserName = ticketBody.children[8];
            ticketUserName.id = "ticket-user-name-" + data.id;
            ticketUserName.textContent = data.name;
            
            var ticketContact = ticketBody.children[11];
            ticketContact.id = "ticket-contact-" + data.id;
            ticketContact.textContent = data.contact;

            var ticketStatus = ticketBody.children[14];
            ticketStatus.id = "ticket-status-" + data.id;
            ticketStatus.textContent = data.status;

            var ticketButtons = clone.children[1].children[1];
            if (data.status == "Unclaimed"){
                var claimTicketButton = ticketButtons.children[0];
                claimTicketButton.id = "ticket-claim-button-" + data.id;
                claimTicketButton.className = "btn btn-primary";
                claimTicketButton.innerHTML = '<i class="fa fa-check" aria-hidden="true"></i> Claim Ticket'; 
                claimTicketButton.setAttribute("data-id", data.id);
                claimTicketButton.onclick = function(){
                    claimTicket(data.id, '{{ user.email }}');
                };
            }
            else{
                var claimTicketButton = ticketButtons.children[0];
                claimTicketButton.id = "ticket-claim-button-" + data.id;
                claimTicketButton.className = "btn btn-warning";
                claimTicketButton.innerHTML = '<i class="fa fa-times" aria-hidden="true"></i> Claim Ticket'; 
                claimTicketButton.setAttribute("data-id", data.id);
                claimTicketButton.onclick = function(){
                    unClaimTicket(data.id, '{{ user.email }}');
                };
            }

            var deleteTicketButton = ticketButtons.children[1];
            deleteTicketButton.setAttribute("id", data.id);
            deleteTicketButton.onclick = function(){
                deleteTicket(data.id, '{{ user.email }}');
            };

            var tickets = document.getElementById("tickets");
            tickets.prepend(clone);
        }

        function deleteTicket(id, email){
            console.log(id);
            var postData = {
                tid: id,
                email: email,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }
            $.post( "/tickets/delete", postData, function(data) {});
        }

        function deleteTicketCB(data){
            var ticketID = "ticket-" + data.id;
            var ticket = document.getElementById(ticketID);
            if (ticket != null && ticket != undefined){
                ticket.remove();
                var alert = document.getElementById("successMessageDelete");
                alert.style.display = "";
                setTimeout(
                    function(){
                        alert.style.display = "none";
                }, 3000);
            }
        }

        function claimTicket(id, email){
            var postData = {
                tid: id,
                email: email,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }
            $.post( "/mentor/tickets/claim", postData, function(data) {
                if (data.code == "403"){
                    var alert = document.getElementById("dangerMessageDelete");
                    alert.style.display = "";
                    setTimeout(
                        function(){
                            alert.style.display = "none";
                    }, 3000);
                    return;
                }
            });
        }

        function claimTicketCB(data){
            var alert = document.getElementById("successMessageClaim");
            alert.style.display = "";
            setTimeout(
                function(){
                    alert.style.display = "none";
            }, 3000);
            var ticketStatusElement = "ticket-status-" + data.id;
            document.getElementById(ticketStatusElement).innerHTML = data.status;
            var claimTicketButton = "ticket-claim-button-" + data.id;
            document.getElementById(claimTicketButton).className = "btn btn-warning";
            document.getElementById(claimTicketButton).innerHTML = '<i class="fa fa-times" aria-hidden="true"></i> Unclaim Ticket'; 
            document.getElementById(claimTicketButton).onclick = function(){
                unClaimTicket(data.id, my_email);
            };
        }

        function unClaimTicket(id, email){
            var postData = {
                tid: id,
                email: email,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }
            $.post( "/mentor/tickets/unclaim", postData, function(data) {
                if (data.code == "403"){
                    var alert = document.getElementById("dangerMessageDelete");
                    alert.style.display = "";
                    setTimeout(
                        function(){
                            alert.style.display = "none";
                    }, 3000);
                    return;
                }
            });
            
        }

        function unClaimTicketCB(data){
            var alert = document.getElementById("successMessageUnclaim");
            alert.style.display = "";
            setTimeout(
                function(){
                    alert.style.display = "none";
            }, 3000);
            var ticketStatusElement = "ticket-status-" + data.id;
            document.getElementById(ticketStatusElement).innerHTML = data.status;
            var claimTicketButton = "ticket-claim-button-" + data.id;
            document.getElementById(claimTicketButton).className = "btn btn-primary";
            document.getElementById(claimTicketButton).innerHTML = '<i class="fa fa-check" aria-hidden="true"></i> Claim Ticket'; 
            document.getElementById(claimTicketButton).onclick = function(){
                claimTicket(data.id, my_email);
            };
        }

    </script>

{% endblock %}
