{% extends "base.html" %}
{% load static %}
{% block title %}Resume Books{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/resume-books.css' %}">
{% endblock %}

{% block content %}
    <h2 class="main-title"> <center>Resume Books</center> </h2>
    <hr style="width:50%">

    <br/>
    <br/>

    {% if error %}
      <div class="alert alert-danger" id="noResumes" style="display:none;">
        <strong>There are no resumes for the year you selected!</strong>
      </div>
    {% endif %}

    <h4><center>Click one of the buttons below to download a specific resume book</center></h4>

    <br/>
    <br/>

    <div class="row">
      <div class="card" style="width: 18rem; margin: 15px;">
        <div class="card-body">
          <h5 class="card-title">All Resumes</h5>
          <p class="card-text">Download the resumes of every single Hackathon participant as a Zip File</p>
          <br/>
          <a href="#" class="btn btn-md btn-primary btn-block text-uppercase" onclick="downloadFunc('all')">Download all resumes</a>
        </div>
      </div>

      {% for year,title in grad_years.items %}
        <div class="card" style="width: 18rem; margin: 15px;">
          <div class="card-body">
            <h5 class="card-title">Class of {{ year }} Resumes</h5>
            <p class="card-text">Download the resumes of every single Hackathon participant that is Class of {{ year }} ({{title}}) as a Zip File</p>
            <a href="#" class="btn btn-md btn-primary btn-block text-uppercase" onclick="downloadFunc('{{ year }}')">Download resumes</a>
          </div>
        </div>
      {% endfor %}

    </div>
    
    <script>
      function downloadFunc(year){
        window.location.href = window.location.origin + "/download/resumes/" + year;
      }

      '{% if error %}'
      var alert = document.getElementById("noResumes");
      alert.style.display = "";
      setTimeout(
          function(){
              alert.style.display = "none";
      }, 3000);
      '{% endif %}'
    </script>

{% endblock %}
