{% extends "base.html" %}

{% block title %}Support Tickets{% endblock %}

{% block content %}

    <h2 class="main-title"> <center>Support Tickets</center> </h2>
    <hr style="width:50%">
    <br/>

    <div class="alert alert-success" id="successMessage" style="display:none;">
      <strong>Successfully created ticket!</strong>
    </div>

    <div class="alert alert-danger" id="dangerMessage" style="display:none;">
      <strong>Error creating ticket! Please log out and try again.</strong>
    </div>

    <div class="alert alert-success" id="suucessMessageClaimStatus" style="display:none;">
        <strong>A ticket status has been changed!</strong>
    </div>

    <div class="alert alert-success" id="successMessageDelete" style="display:none;">
      <strong>Successfully deleted ticket!</strong>
    </div>

    <div class="alert alert-danger" id="dangerMessageDelete" style="display:none;">
      <strong>Error deleting ticket! Please log out and try again.</strong>
    </div>

    <div class="alert alert-danger" id="dangerMessageTicketNotFilled" style="display:none;">
        <strong>Please fill out all fields to submit a ticket!</strong>
      </div>

    <div class="card" class="main-card">
      <div class="card-body">
        <h4 class="card-title"><center>Create New Support Ticket</center></h4>
        <div class="form-group">
          <label for="help">What do you need help with?</label>
          <br/>
             <input type="text" required class="form-control" id="help" placeholder="Specify the problem and the platform you need help with" name="help">
         </div>
         <div class="form-group">
           <label for="where">What's your Discord ID?</label>
           <br/>
              <input type="text" required class="form-control" id="where" placeholder="Specify your discord ID in the format (name#1234)" name="where">
          </div>
          <div class="row">
              <div class="col-lg-1">
              </div>
              <div class="col-lg-10">
                  <button class="btn btn-lg btn-primary btn-block text-uppercase" onclick="createTicket()" name="create-ticket">Submit Ticket</button>
              </div>
              <div class="col-lg-1">
              </div>
          </div>
      </div>
    </div>
    <br/>
    <br/>
    <h2 class="main-title"> <center>My Tickets</center> </h2>
    <hr style="width:50%">
    <br/>
    <div id="tickets">
    {% for t in tickets.reverse %}
        <div class="card" id="ticket-{{ t.id }}">
          <div class="card-body">
            <div class="row">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-8">
                    <h4 class="card-title" id="ticket-id-{{ t.id }}" style="text-align:center;">Ticket #{{ t.id }}</h4>
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-danger" data-id="{{ t.id }}" onclick="deleteTicket({{ t.id }})" style="align:right;"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </div>
            </div>
            <b>Question: </b><span id="ticket-question-{{ t.id }}">{{ t.question }}</span><br/>
            <b>Location: </b><span id="ticket-location-{{ t.id }}">{{ t.location }}</span><br/>
            <b>Contact Phone Number: </b><span id="ticket-contact-{{ t.id }}">{{ t.contact }}</span><br/>
            <b>Status: </b><span id="ticket-status-{{ t.id }}">{{ t.status }}</span>
          </div>
        </div>
    {% endfor %}


    <div style="display:none;" id="copy-ticket">
        <div class="card" id="ticket-base">
          <div class="card-body">
              <div class="row">
                  <div class="col-sm-2">
                  </div>
                  <div class="col-sm-8">
                      <h4 class="card-title" id="ticket-id" style="text-align:center;"></h4>
                  </div>
                  <div class="col-sm-2">
                      <button type="button" class="btn btn-danger" onclick="deleteTicket()" style="align:right;"><i class="fa fa-trash" aria-hidden="true"></i></button>
                  </div>
              </div>
            <b>Question: </b><span id="ticket-question"></span><br/>
            <b>Location: </b><span id="ticket-location"></span><br/>
            <b>Contact Phone Number: </b><span id="ticket-contact"></span><br/>
            <b>Status: </b><span id="ticket-status"></span>
          </div>
        </div>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>

    <script>
        var ws_protocol = 'ws://';
        if (location.protocol == 'https:'){
            ws_protocol = 'wss://';
        }
    window.chatSocket = new WebSocket(
        ws_protocol + window.location.host +
        '/ws/chat/' + 'main' + '/');

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        console.log(data.message);
        data = JSON.parse(data.message);
        console.log(data);
        var message = data['type'];
        if (message == 'ticket-deleted'){
            var tId = data['id'];
            var ticketID = "ticket-" + tId;
            var ticket = document.getElementById(ticketID);
            if (ticket != null && ticket != undefined){
                ticket.remove();
                var alert = document.getElementById("successMessageDelete");
                alert.style.display = "";
                setTimeout(
                    function(){
                        alert.style.display = "none";
                }, 3000);
            }
        }
        if (message == 'ticket-status-change'){
            var tId = data['id'];
            var ticketID = "ticket-status-" + tId;
            var ticket = document.getElementById(ticketID);
            if (ticket != null && ticket != undefined){
                ticket.innerHTML= data.status;
                var alert = document.getElementById("suucessMessageClaimStatus");
                alert.style.display = "";
                setTimeout(
                    function(){
                        alert.style.display = "none";
                }, 3000);
            }
        }
    };


    var email = '{{ user.email }}';
    function createTicket(){
        var postData = {
            help: document.getElementById("help").value,
            where: document.getElementById("where").value,
            email: email,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        }
        if (postData.help == "" || postData.where == ""){
            var alert = document.getElementById("dangerMessageTicketNotFilled");
            alert.style.display = "";
            setTimeout(
                function(){
                    alert.style.display = "none";
            }, 3000);
            return;
        }
        $.post( "/tickets/create", postData, function(data) {
            console.log(data);
            document.getElementById("help").value = "";
            document.getElementById("where").value = "";
            if (data.code == "403"){
                var alert = document.getElementById("dangerMessage");
                alert.style.display = "";
                setTimeout(
                    function(){
                        alert.style.display = "none";
                }, 3000);
                return;
            }
            var alert = document.getElementById("successMessage");
            alert.style.display = "";
            setTimeout(
                function(){
                    alert.style.display = "none";
            }, 3000);
            var copyTicket = document.getElementById("copy-ticket").children[0];
            var clone = copyTicket.cloneNode(true);
            clone.id = "ticket-" + data.id;
            var ticketBody = clone.children[0];
            window.tb = ticketBody;
            var ticketTitle = ticketBody.children[0].children[1].children[0];
            ticketTitle.id = "ticket-id-" + data.id;
            ticketTitle.textContent = "Ticket #" + data.id;

            var ticketDelete = ticketBody.children[0].children[2].children[0];
            ticketDelete.setAttribute("data-id", data.id);
            ticketDelete.onclick = function(){
                deleteTicket(data.id);
            }

            var ticketQuestion = ticketBody.children[2];
            ticketQuestion.id = "ticket-question-" + data.id;
            ticketQuestion.textContent = data.question;

            var ticketLocation = ticketBody.children[5];
            ticketLocation.id = "ticket-location-" + data.id;
            ticketLocation.textContent = data.location;

            var ticketContact = ticketBody.children[8];
            ticketContact.id = "ticket-contact-" + data.id;
            ticketContact.textContent = data.contact;

            var ticketStatus = ticketBody.children[11];
            ticketStatus.id = "ticket-status-" + data.id;
            ticketStatus.textContent = data.status;

            var tickets = document.getElementById("tickets");
            tickets.prepend(clone);
        });
    }

    function deleteTicket(id){
        console.log(id);
        var postData = {
            tid: id,
            email: email,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        }
        $.post( "/tickets/delete", postData, function(data) {});
    }

        // socket.on('ticket-deleted', function(data){
        //     var ticketID = "ticket-" + data.id;
        //     var ticket = document.getElementById(ticketID);
        //     if (ticket != null && ticket != undefined){
        //         ticket.remove();
        //         var alert = document.getElementById("successMessageDelete");
        //         alert.style.display = "";
        //         setTimeout(
        //             function(){
        //                 alert.style.display = "none";
        //         }, 3000);
        //     }
        // });

        // socket.on('ticket-status-change', function(data){
        //     var ticketID = "ticket-status-" + data.id;
        //     var ticket = document.getElementById(ticketID);
        //     if (ticket != null && ticket != undefined){
        //         ticket.innerHTML= data.status;
        //         var alert = document.getElementById("suucessMessageClaimStatus");
        //         alert.style.display = "";
        //         setTimeout(
        //             function(){
        //                 alert.style.display = "none";
        //         }, 3000);
        //     }
        // });

    </script>

{% endblock %}
